.service-list {
    margin-left: -2rem;
    margin-right: -2rem;
    
}

.service-entry {
    padding: 1rem;
    border-radius: 20px;

    transition: background .3s;
    &:hover {
        background: $color-bg-far;
    }

    &::after {
        margin-bottom: 2rem;
    }
}