// Colors
// $color-primary: #ffbc2c;;
// $color-primary-light: #f6dc7b;
// $color-primary-dark: #f26800;

// $color-secondary-light: #fe413c;
// $color-secondary-dark: #c03836;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-primary: #ffbc2c;;
$color-primary-light: #f6dc7b;
$color-primary-dark: #f26800;

$color-secondary-light: #fe413c;
$color-secondary-dark: #c03836;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-status-positive-fallback: rgb(128,218,147);
$color-status-positive: linear-gradient(90deg, rgba(39,174,96,1) 0%, rgba(47,214,117,1) 100%);

$color-status-negative-fallback: rgb(195,66,72);
$color-status-negative: linear-gradient(90deg, rgba(195,66,72,1) 0%, rgba(247,84,91,1) 100%);
// $color-status-positive: linear-gradient(90deg, rgba(39,174,96,1) 0%, rgba(24,108,60,1) 100%);

$color-gradient-violet-fallback: #8d3bff;
$color-gradient-violet: linear-gradient(60deg, #8d3bff, #b53bff);

// $color-bg-far: #101011;
// $color-bg: #212529;
$color-bg-far: #091029;
$color-bg: #152251;
$color-bg-near: #081541;


$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// Tooltip
$color-tooltip: rgba($color-grey-light-1,.75);
$color-tooltip-text: $color-grey-dark-3;

// Font
$default-font-size: 2.3rem;
$color-font: #eff0f0;
$color-font-dark: #66696c;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-veritcal-small: 5rem;
$gutter-horizontal: 6rem;


$border-radius-large: 30px;
$border-radius-small: 10px;