.header {
    padding-bottom: 2rem;
}

.page-title {
    display: flex;
}

.nav {
    align-self: center;
    text-align: right;
    font-size: 2.5rem;

    a {
        color: $color-font-dark;
        text-decoration: none;
        margin-right: 3rem;
        margin-left: 3rem;
    }
    
    .router-link-active {
        background: $color-gradient-violet-fallback;
        background: $color-gradient-violet; 
        background-clip: text;
        color: transparent;
    }
}

